/*=============== HEADER ===============*/
@media (max-width: 992px) {
    nav .nav__close {
        display: block;
        position: absolute;
        left: 23px;
        right: initial;
        top: 40px;
        font-size: 25px;
        cursor: pointer;
        transition: 0.2s;
        opacity: 0;
        visibility: hidden;
    }
}
/*=============== shopping-page ===============*/
.shopping-page .body-shopping-page .cart-item p {
    color: #939393;
    margin-right: auto;
    margin-left: initial;
}

.shopping-page .body-shopping-page .cart-item .trash {
    margin-left: initial;
    margin-right: 30px;
}

.shopping-page .body-shopping-page .cart-item input[type="number"] {
    margin-right: 15px;
    margin-left: initial;
}

.shopping-page .body-shopping-page .cart-item a {
    margin-right: 30px;
    margin-left: initial;
}

.shopping-page .body-shopping-page .cart-item .containe_input_count .click-down {
    left: -8px;
    right: initial;
}

.shopping-page .body-shopping-page .cart-item .containe_input_count .click-up {
    left: -8px;
    right: initial;
}

@media (max-width: 768px) {
    .shopping-page .body-shopping-page .cart-item .trash {
        position: absolute;
        top: 27%;
        left: 0;
        right: initial;
    }

    .shopping-page .body-shopping-page .cart-item .containe_input_count .click-up {
        top: -4px;
        left: 8px;
    }

    .shopping-page .body-shopping-page .cart-item .containe_input_count .click-down {
        bottom: -4px;
        left: 8px;
    }

    .shopping-page .body-shopping-page .cart-item .containe_input_count {
        margin-right: 20px;
    }

    .shopping-page .body-shopping-page .cart-item a,
    .shopping-page .body-shopping-page .cart-item p,
    .shopping-page .body-shopping-page .cart-item .trash {
        margin-left: initial;
        margin-right: 20px;
        margin-top: 10px;
    }

    .shopping-page .body-shopping-page .cart-item input[type="number"] {
        margin-right: 0;
    }
}