/*============ GOOGLE FONTS ============*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Signika+Negative:wght@300..700&display=swap');

/*============ Custom Property ============*/
:root {
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Signika Negative", sans-serif;
    --bg-color: #F9F4F0;
}

/*============ Global Rules ============*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    font-family: var(--font);
    overflow-x: hidden;
    /*  */
    /*  */
    /*  */
    height: 1200vh;
}
.main {
    overflow: hidden;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
section {
    padding-top: 80px;
    padding-bottom: 80px;
}
ul {
    list-style: none;
}
a,
img,
span,
input,
button {
    display: block;
}
input,
button {
    outline: none;
    border: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}
/* Small */
/* @media (min-width: 768px) {
    .container {
        width: 750px;
    }
} */
/* Medium */
/* @media (min-width: 992px) {
    .container {
        width: 970px;
        width: 970px;
    }
} */

/* Small */
@media (min-width: 768px) {
    .container {
        /* width: 750px; */
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        /* width: 970px; */
    }
}
/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}


/*=============== COMPONENTS ===============*/
.btn-primary {
    font-family: var(--primary-font);
    font-size: 17px;
    font-weight: 700;
    padding: 18px 40px;
    border-radius: 7px;
    width: fit-content;
    background-color: #eb6d2f;
    color: white;
    transition: 0.2s;
}

.btn-primary:hover {
    background-color: #f7bd00;
}

.section-label {
    color: #eb6d2f;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
}

.section-title {
    position: relative;
    font-size: 50px;
    color: #5a3733;
    font-family: var(--secondary-font);
    text-align: center;
}

.section-title::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    width: 80px;
    height: 4px;
    background-color: #eb6d2f;
}

.section-description {
    color: #504F4E;
    font-size: 18px;
    font-family: var(--primary-font);
    text-align: center;
    max-width: 800px;
    line-height: 1.7;
    margin: 0 auto;
}

/*=============== HEADER ===============*/

header {
    background-color: var(--bg-color);
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: var(--primary-font);
}

nav .nav__logo {
    position: relative;
    z-index: 10;
    width: 200px;
}

nav .nav__menu {
    display: flex;
}

nav .nav__list {
    display: flex;
    column-gap: 32px;
}

nav .nav__list li {
    display: flex;
    align-items: center;
}

nav .nav__list .nav__link,
nav .nav__list .btn__link {
    font-weight: 600;
    font-size: 14px;
    color: #5a3733;
}

nav .nav__list .nav__link {
    position: relative;
    transition: 0.2s;
}

nav .nav__list .nav__link::before {
    content: '';
    position: absolute;
    height: 2px;
    bottom: -10px;
    left: -15%;
    width: 0;
    background-color: #f7bd00;
    transition: 0.2s;
}

nav .nav__list .nav__link:hover {
    color: #eb6d2f;
}

nav .nav__list .nav__link:hover::before {
    width: 130%;
}

nav .nav__list .btn__link {
    padding: 9px 15px;
    font-weight: 700;
    border: 2px solid #eb6d2f;
    border-radius: 8px;
    transition: 0.4s background-color, 0.2s color;
}

nav .nav__list .btn__link:hover {
    background-color: #eb6d2f;
    color: white;
}

/*  */
nav .nav__toggle {
    display: none;
}

nav .nav__close {
    display: none;
}

@media(max-width: 992px) {
    nav .nav__list {
        position: fixed;
        left: 0;
        top: -100%;
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        transition: 0.4s top;
    }

    nav .nav__list.show {
        top: calc(0px + 113px);
    }

    nav .nav__list .nav__link {
        font-size: 16px;
    }

    nav .nav__toggle {
        position: relative;
        z-index: 10;
        display: block;
        font-size: 30px;
        cursor: pointer;
        transition: 0.2s;
        opacity: 1;
    }

    nav .nav__toggle.hide {
        visibility: hidden;
        opacity: 0;
    }

    nav .nav__close {
        display: block;
        position: absolute;
        right: 23px;
        top: 40px;
        font-size: 25px;
        cursor: pointer;
        transition: 0.2s;
        opacity: 0;
        visibility: hidden;
    }

    nav .nav__close.show {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 992px) {
    nav .nav__list .nav__link {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    nav .nav__logo {
        width: 150px;
    }
}
/*=============== HERO ===============*/
.hero {
    height: calc(100vh);
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: initial;
    padding-bottom: initial;
}

.hero .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .container p:first-of-type {
    color: #eb6d2f;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 700;
    word-spacing: 3px;
}

.hero .container h1 {
    font-size: 110px;
    font-family: var(--secondary-font);
    font-weight: 700;
    color: #5a3733;
    margin: 20px 0;
    position: relative;
}

.hero .container h1::before {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 60px;
    height: 4px;
    background-color: #eb6d2f;
}

.hero .container p:last-of-type {
    color: #504F4E;
    font-family: var(--primary-font);
    font-size: 20px;
    max-width: 650px;
    line-height: 1.7;
}

.hero .container a.btn-primary {
    margin-top: 40px;
}

@media (max-width: 992px) {
    .hero {
        background-position: center;
    }

    .hero .container h1 {
        font-size: 86px;
    }
}

@media (max-width: 768px){
    .data-hero {
        margin-top: initial;
    }

    .hero .container h1 {
        font-size: 68px;
    }
}

@media (max-width: 576px){
    .hero .container h1 {
        font-size: 42px;
        max-width: 300px;
    }

    .hero .container p:last-of-type {
        font-size: 16px;
    }
}


/*=============== SERVICES ===============*/
.services {
    background-image: url("../images/bg-2.jpg");
    background-color: var(--bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
}

.services .sliders {
    position: relative;
}

.card_container {
    margin-top: 50px;
    text-align: center;
}

.services .card-item {
    background-color: #FFF;
    padding: 50px 30px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.services .card-item img {
    width: 90px;
    height: 100px;
    margin: 0 auto;
}

.services .card-item h3 {
    font-size: 25px;
    font-weight: 700;
    font-family: var(--secondary-font);
    color: #5a3733;
    margin: 20px;
}

.services .card-item p {
    font-size: 16px;
    line-height: 1.7;
    color: #504F4E;
    font-family: var(--primary-font);
}

.services .card-item a {
    margin: 30px auto;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: #f7bd00;
    width: fit-content;
}

.services .card-item a:hover {
    text-decoration: underline;
}

.services .swiper-button-prev {
    left: -50px;
    color: #5a3733b7;
    transition: 0.3s;
}

.services .swiper-button-prev::after {
    font-size: 25px !important;
    font-weight: 700;
}

.services .swiper-button-next {
    right: -50px;
    color: #5a3733b7;
    transition: 0.3s;
}

.services .swiper-button-next::after {
    font-size: 25px !important;
    font-weight: 700;
}

.services .swiper-button-prev:hover,
.services .swiper-button-next:hover {
    color: #5a3733;
}

.swiper-pagination {
    bottom: -50px !important;
}

.swiper-pagination-bullet {
    background-color: #5a3733be;
    width: 11px;
    height: 11px;
    margin: 0 7px !important;
    transition: 0.2s;
}

.swiper-pagination-bullet:hover {
    background-color: #5a3733be !important;
    opacity: 1;
}

/*=============== ABOUT ===============*/
.about {
    background-image: url("../images/bg-1.jpg");
    background-color: var(--bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
}

.about .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 580px));
    justify-content: center;
    width: initial;
    gap: 35px;
}

/* .about .container img {

} */

.about .container .data-about {
    text-align: start;
}

.about .data-about .section-label,
.about .data-about .section-title,
.about .data-about .section-description{
    text-align: inherit;
}

.about .data-about .section-title::before { 
    left: 0;
    transform: translateX(0);
}

.about .data-about .section-description {
    max-width: initial;
}

.about .data-about .features-container {
    /* background-color: gray; */
    margin-top: 55px;
}

.about .data-about .features-container ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: start;
}

.about .data-about ul .feature-box {
    display: flex;
    align-items: center;
    gap: 25px;
}

.about .feature-icon img {
    width: 90px;
    max-width: initial;
}

.about .feature-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about .feature-text .feature-title {
    font-family: var(--secondary-font);
    font-size: 25px;
    font-weight: 700;
    color: #5a3733;
}

.about .feature-text .feature-description {
    font-size: 16px;
    font-family: var(--primary-font);
    color: #504F4E;
    line-height: 1.7;
}

@media (max-width: 768px) {
    .about .container {
        grid-template-columns: 1fr;
    }

    .about .data-about .section-title {
        font-size: 38px;
    }

    .about .feature-icon img {
        width: 63px;
    }

    .about .feature-text .feature-title {
        font-size: 22px;
    }
}

@media (max-width: 370px){
    .about .data-about ul .feature-box {
        flex-direction: column;
        text-align: center;
    }
}

/*=============== HERO VIDEO ===============*/
.hero-video {
    background-color: gray;
    background-image: url("../images/IGTlDjRN3kc.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.play-icon {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid transparent;
    cursor: pointer;
}

.play-icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #eb6d2f;
    font-size: 25px;
}

.hero-video h3 {
    color: #fff;
    font-size: 20px;
    font-family: var(--primary-font);
    text-shadow: 0px 2px 4px rgba(0, 0, 0);
}

@media (max-width: 768px) {
    .hero-video {
        height: 45vh;
    }
}

/*=============== HONEY TYPES ===============*/
.honey-types {
    background-color: var(--bg-color);
    text-align: start;
    position: relative;
}

.honey-types .container {
    display: grid;
    grid-template-columns: 390px minmax(100px, 860px);
    gap: 0px;
}

.honey-types .data-honey-types .section-label,
.honey-types .data-honey-types .section-title,
.honey-types .data-honey-types .section-description{
    text-align: inherit;
}

.honey-types .data-honey-types .section-title::before { 
    left: 0;
    transform: translateX(0);
}

.honey-types .data-honey-types .section-description {
    max-width: initial;
}

.honey-benefits {
    margin-top: 40px;
    display: grid;
    row-gap: 20px;
}

.honey-benefits div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.honey-benefits img {
    width: 20px;
}

.honey-benefits li {
    position: relative;
    font-family: var(--primary-font);
    color: #444;
    font-weight: 400;
}

.honey-types .sliders {
    position: relative;
}

.honey-types .sliders .card-item {
    padding: 80px 20px;
    background-color: #FFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.honey-types .card-item img {
    width: 90px;
    height: 100px;
    margin: 0 auto;
}

.honey-types .sliders .card-item a {
    margin: 40px auto 0;
    padding: 14px 20px;
    font-size: 15px;
}

.honey-types .swiper-button-prev {
    left: -20px;
    background-color: #5a3733b7;
    color: rgba(255, 255, 255, 0.747);
    transition: 0.3s;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.honey-types .swiper-button-prev::after {
    font-size: 15px !important;
    font-weight: 700;
}

.honey-types .swiper-button-next {
    right: -20px;
    background-color: #5a3733da;
    color: rgba(255, 255, 255, 0.747);
    transition: 0.3s;
    border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.honey-types .swiper-button-next::after {
    font-size: 15px !important;
    font-weight: 700;
}

.honey-types .swiper-button-prev:hover,
.honey-types .swiper-button-next:hover {
    background-color: #5a3733;
    color: white;
}

.swiper-pagination-honey {
    bottom: -50px !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: #5a3733be;
    width: 11px;
    height: 11px;
    margin: 0 7px !important;
    transition: 0.2s;
}

.swiper-pagination-clickable .swiper-pagination-bullet:hover {
    background-color: #5a3733be !important;
    opacity: 1;
}

@media (max-width: 992px){
    .honey-types .container {
        grid-template-columns: 100%;
        row-gap: 50px;
    }
}

@media (max-width: 768px){
    .honey-types .sliders .card-item {
        padding: 30px 10px;
    }
    

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }    
}

/*=============== HONEY TYPES ===============*/
.store {
    background-color: var(--bg-color);
    background-image: url("../images/bg-3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 230px;
}

.store .sliders {
    position: relative;
}

.store .store_slider {
    margin-top: 60px;
}

.store .card-item {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store .card-item img {
    width: 350px;
}

.store .body_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.store h3 {
    color: gray;
    font-family: var(--secondary-font);
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0 0;;
}

.store h3.price {
    color: #f7bd00;
    font-family: var(--secondary-font);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.store .card-item a {
    padding: 12px 20px;
    font-size: 14px;
}

.store .swiper-button-prev {
    left: -1%;
    color: #5a3733b7;
    transition: 0.3s;
}

.store .swiper-button-prev::after {
    font-size: 25px !important;
    font-weight: 700;
}

.store .swiper-button-next {
    right: -1%;
    color: #5a3733b7;
    transition: 0.3s;
}

.store .swiper-button-next::after {
    font-size: 25px !important;
    font-weight: 700;
}

.store .swiper-button-prev:hover,
.store .swiper-button-next:hover {
    color: #5a3733;
}

@media (max-width: 768px) {
    .store .swiper-button-prev,
    .store .swiper-button-next {
        display: block;
    }
}

@media (max-width: 576px) {
    .store .swiper-button-next::after,
    .store .swiper-button-prev::after {
        font-size: 20px !important;
    }
}


/*=============== ORDER ===============*/
.order {
    background-color: #f7bd00;
    position: relative;
    min-height: 100vh;
}

.order .backgourng-top {
    background-image: url("../images/60a53adaed641400228d9e3e_optimized_1920.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 160px;
    top: -160px;
    position: absolute;
}

.order .order-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 20px;
}

.order .order-container .box-order { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
}

.order .box-order img {
    width: 180px;
}

.order .box-order h3 {
    font-size: 30px;
    font-family: var(--secondary-font);
    color: #5a3733;
}

.order .box-order p {
    color: #444;
    font-family: var(--primary-font);
    line-height: 1.7;
}

.order .container .btn-primary {
    margin: 50px auto;
}

.order .container .btn-primary:hover {
    background-color: #5a3733;
}

@media (max-width: 992px) {
    .order .order-container {
        grid-template-columns: repeat(2, minmax(100px, 400px));
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .order .box-order img {
        width: 160px;
    }
}

@media (max-width: 500px) {
    .order .order-container {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .order .container .btn-primary {
        font-size: 16px;
    }
}

/*=============== TESTIMONIALS ===============*/
.testimonials {
    background: url("../images/bg-7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.testimonials .section-label {
    color: #f7bd00;
}

.testimonials .section-title {
    color: white;
}

.testimonials .section-title::before {
    background-color: #f7bd00;
}

.testimonials .section-description {
    color: white;
}

.testimonials .sliders {
    position: relative;
    padding: 0 30px;
    display: flex;
}

.testimonials .testimonials_slider {
    margin-top: 60px;
}

.testimonials .card-item {
    background-color: #663B36;
    padding: 35px 30px;
}

.testimonials .body_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.testimonials .body_card img {
    width: 120px;
}

.testimonials h3 {
    color: #f7bd00;
    font-family: var(--secondary-font);
    font-size: 24px;
    margin: 20px 0 0;;
}

.testimonials blockquote {
    color: white;
    font-family: var(--primary-font);
    font-style: italic;
    font-size: 15px;
    margin-top: 20px;
    line-height: 1.7;
    text-align: center;
}

.testimonials .post-date {
    font-size: 14px;
    font-family: var(--primary-font);
    color: white;
    font-weight: 700;
    margin-top: 30px;
}

.testimonials .swiper-button-prev {
    left: -1%;
    color: #f7bd0093;
    transition: 0.3s;
}

.testimonials .swiper-button-prev::after {
    font-size: 25px !important;
    font-weight: 700;
}

.testimonials .swiper-button-next {
    right: -1%;
    color: #f7bd0093;
    transition: 0.3s;
}

.testimonials .swiper-button-next::after {
    font-size: 25px !important;
    font-weight: 700;
}

.testimonials .swiper-button-prev:hover,
.testimonials .swiper-button-next:hover {
    color: #f7bd00;
}

.testimonials .swiper-pagination-testimonials {
    bottom: -50px !important;
}

.testimonials .swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: #f7bd00;
    width: 11px;
    height: 11px;
    margin: 0 7px !important;
    transition: 0.2s;
}

.testimonials .swiper-pagination-clickable .swiper-pagination-bullet:hover {
    background-color: #f7bd00 !important;
    opacity: 1;
}

@media (max-width: 768px) {
    .testimonials .card-item {
        padding: 25px 20px;
    }

    .testimonials .swiper-button-prev,
    .testimonials .swiper-button-next {
        display: block;
    }
}

/*=============== STATS NUMBER ===============*/
.stats-number {
    background-color: var(--bg-color);
}

.stats-number .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.stats-number .box-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-number .box-stat .section-title {
    color: #eb6d2f;
    margin-top: 0;
}

.stats-number .box-stat .section-title::before {
    background-color: #5a3733;
}

.stats-number .box-stat h3 {
    font-family: var(--primary-font);
    color: #5a3733;
    font-size: 16px;
}

@media (max-width: 992px){
    .stats-number .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        row-gap: 50px;
    }
}

@media (max-width: 480px){
    .stats-number .container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        row-gap: 50px;
    }
}

/*=============== BLOG ===============*/
.blog {
    background-image: url("../images/bg-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blog .sliders {
    margin-top: 60px;
    position: relative;
    display: flex;
}

.blog .card-item {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 43px 0px rgba(0,0,0,0.1);
}

.blog .card-item .body_card {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.blog .card-item .body_card img {
    border-radius: 10px;
}

.blog .body_card .post-date {
    font-size: 14px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: #eb6d2f;
    margin: 20px 0 25px;
    letter-spacing: 1px;
}

.blog .body_card h3 {
    font-size: 25px;
    font-family: var(--secondary-font);
    color: #5a3733;
    margin-bottom: 15px;
}

.blog .body_card p {
    color: #444;
    font-family: var(--primary-font);
    line-height: 1.7;
}

.blog .swiper-button-prev {
    left: -1%;
    color: #eb6e2fc4;
    transition: 0.3s;
}

.blog .swiper-button-prev::after {
    font-size: 25px !important;
    font-weight: 700;
}

.blog .swiper-button-next {
    right: -1%;
    color: #eb6e2fc4;
    transition: 0.3s;
}

.blog .swiper-button-next::after {
    font-size: 25px !important;
    font-weight: 700;
}

.blog .swiper-button-prev:hover,
.blog .swiper-button-next:hover {
    color: #f7bd00;
}

@media (max-width: 992px) {
    .blog .swiper-button-prev {
        left: -1%;
    }
    .blog .swiper-button-next {
        right: -1%;
    }

    .blog .swiper-button-prev,
    .blog .swiper-button-next {
        display: block;
    }
}

@media (max-width: 768px){
    .blog .container {
        display: grid;
        grid-template-columns: minmax(100px, 600px);
        justify-content: center;
    }
}

@media (max-width: 350px) {
    .blog .body_card {
        text-align: center;
    }
    .blog .body_card .post-date {
        margin: 20px auto;
    }
}