/*=============== HEADER ===============*/
header {
    background-color: var(--bg-color);
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: var(--primary-font);
}

nav .nav__logo {
    position: relative;
    z-index: 10;
    width: 200px;
}

nav .nav__menu {
    display: flex;
}

nav .nav__list {
    display: flex;
    column-gap: 32px;
}

nav .nav__list li {
    display: flex;
    align-items: center;
}

nav .nav__list .nav__link,
nav .nav__list .btn__link {
    font-weight: 600;
    font-size: 14px;
    color: #5a3733;
}

nav .nav__list .nav__link {
    position: relative;
    transition: 0.2s;
}

nav .nav__list .nav__link::before {
    content: '';
    position: absolute;
    height: 2px;
    bottom: -10px;
    left: -15%;
    width: 0;
    background-color: #f7bd00;
    transition: 0.2s;
}

nav .nav__list .nav__link:hover {
    color: #eb6d2f;
}

nav .nav__list .nav__link:hover::before {
    width: 130%;
}

nav .nav__list .btn__link {
    padding: 9px 15px;
    font-weight: 700;
    border: 2px solid #eb6d2f;
    border-radius: 8px;
    transition: 0.4s background-color, 0.2s color;
}

nav .nav__list .btn__link:hover {
    background-color: #eb6d2f;
    color: white;
}

/*  */
nav .nav__toggle {
    display: none;
    color: #5a3733;
}

nav .nav__close {
    display: none;
}

@media(max-width: 992px) {
    nav .nav__list {
        position: absolute;
        left: 0;
        top: -100vh;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        width: 100%;
        height: 100vh;
        background-color: var(--bg-color);
        transition: 0.4s top;
        z-index: 9999;
    }

    nav .nav__list.show {
        top: calc(0px + 99px);
    }

    nav .nav__list .nav__link {
        font-size: 16px;
    }

    nav .nav__toggle {
        position: relative;
        z-index: 10;
        display: block;
        font-size: 30px;
        cursor: pointer;
        transition: 0.2s;
        opacity: 1;
    }

    nav .nav__toggle.hide {
        visibility: hidden;
        opacity: 0;
    }

    nav .nav__close {
        display: block;
        position: absolute;
        right: 23px;
        top: 40px;
        font-size: 25px;
        cursor: pointer;
        transition: 0.2s;
        opacity: 0;
        visibility: hidden;
    }

    nav .nav__close.show {
        visibility: visible;
        opacity: 1;
        color: #5a3733;
    }
}

@media (max-width: 992px) {
    nav .nav__list .nav__link {
        font-size: 18px;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    nav .nav__logo {
        width: 150px;
    }
}
/*=============== HERO ===============*/
.hero {
    height: calc(100vh);
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: initial;
    padding-bottom: initial;
}

.hero .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .container p:first-of-type {
    color: #eb6d2f;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 700;
    word-spacing: 3px;
}

.hero .container h1 {
    font-size: 110px;
    font-family: var(--secondary-font);
    font-weight: 700;
    color: #5a3733;
    margin: 20px 0;
    position: relative;
}

.hero .container h1::before {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 60px;
    height: 4px;
    background-color: #eb6d2f;
}

.hero .container p:last-of-type {
    color: #504F4E;
    font-family: var(--primary-font);
    font-size: 20px;
    max-width: 650px;
    line-height: 1.7;
}

.hero .container a.btn-primary {
    margin-top: 40px;
}

@media (max-width: 992px) {
    .hero {
        background-position: center;
    }

    .hero .container h1 {
        font-size: 86px;
    }
}

@media (max-width: 768px){
    .data-hero {
        margin-top: initial;
    }

    .hero .container h1 {
        font-size: 68px;
    }
}

@media (max-width: 576px){
    .hero .container h1 {
        font-size: 42px;
        max-width: 300px;
    }

    .hero .container p:last-of-type {
        font-size: 16px;
    }
}


/*=============== SERVICES ===============*/
.services {
    background-image: url("../images/bg-2.jpg");
    background-color: var(--bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
}

.services .sliders {
    position: relative;
}

.card_container {
    margin-top: 50px;
    text-align: center;
}

.services .card-item {
    background-color: #FFF;
    padding: 50px 30px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.services .card-item img {
    width: 90px;
    height: 100px;
    margin: 0 auto;
}

.services .card-item h3 {
    font-size: 25px;
    font-weight: 700;
    font-family: var(--secondary-font);
    color: #5a3733;
    margin: 20px;
}

.services .card-item p {
    font-size: 16px;
    line-height: 1.7;
    color: #504F4E;
    font-family: var(--primary-font);
}

.services .card-item a {
    margin: 30px auto;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: #f7bd00;
    width: fit-content;
}

.services .card-item a:hover {
    text-decoration: underline;
}

.services .swiper-button-prev {
    left: -50px;
    color: #5a3733b7;
    transition: 0.3s;
}

.services .swiper-button-prev::after {
    font-size: 25px !important;
    font-weight: 700;
}

.services .swiper-button-next {
    right: -50px;
    color: #5a3733b7;
    transition: 0.3s;
}

.services .swiper-button-next::after {
    font-size: 25px !important;
    font-weight: 700;
}

.services .swiper-button-prev:hover,
.services .swiper-button-next:hover {
    color: #5a3733;
}

.swiper-pagination {
    bottom: -50px !important;
}

.swiper-pagination-bullet {
    background-color: #5a3733be;
    width: 11px;
    height: 11px;
    margin: 0 7px !important;
    transition: 0.2s;
}

.swiper-pagination-bullet:hover {
    background-color: #5a3733be !important;
    opacity: 1;
}

/*=============== ABOUT ===============*/
.about {
    background-image: url("../images/bg-1.jpg");
    background-color: var(--bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
}

.about .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 580px));
    justify-content: center;
    width: initial;
    gap: 35px;
}

/* .about .container img {

} */

.about .container .data-about {
    text-align: start;
}

.about .data-about .section-label,
.about .data-about .section-title,
.about .data-about .section-description{
    text-align: inherit;
}

.about .data-about .section-title::before { 
    left: 0;
    transform: translateX(0);
}

.about .data-about .section-description {
    max-width: initial;
}

.about .data-about .features-container {
    /* background-color: gray; */
    margin-top: 55px;
}

.about .data-about .features-container ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: start;
}

.about .data-about ul .feature-box {
    display: flex;
    align-items: center;
    gap: 25px;
}

.about .feature-icon img {
    width: 90px;
    max-width: initial;
}

.about .feature-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about .feature-text .feature-title {
    font-family: var(--secondary-font);
    font-size: 25px;
    font-weight: 700;
    color: #5a3733;
}

.about .feature-text .feature-description {
    font-size: 16px;
    font-family: var(--primary-font);
    color: #504F4E;
    line-height: 1.7;
}

@media (max-width: 768px) {
    .about .container {
        grid-template-columns: 1fr;
    }

    .about .data-about .section-title {
        font-size: 38px;
    }

    .about .feature-icon img {
        width: 63px;
    }

    .about .feature-text .feature-title {
        font-size: 22px;
    }
}

@media (max-width: 370px){
    .about .data-about ul .feature-box {
        flex-direction: column;
        text-align: center;
    }
}

/*=============== HERO VIDEO ===============*/
.hero-video {
    background-color: gray;
    background-image: url("../images/IGTlDjRN3kc.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.play-icon {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid transparent;
    cursor: pointer;
}

.play-icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #eb6d2f;
    font-size: 25px;
}

.hero-video h3 {
    color: #fff;
    font-size: 20px;
    font-family: var(--primary-font);
    text-shadow: 0px 2px 4px rgba(0, 0, 0);
}

@media (max-width: 768px) {
    .hero-video {
        height: 45vh;
    }
}

/*=============== HONEY TYPES ===============*/
.honey-types {
    background-color: var(--bg-color);
    text-align: start;
    position: relative;
}

.honey-types .container {
    display: grid;
    grid-template-columns: 390px minmax(100px, 860px);
    gap: 0px;
}

.honey-types .data-honey-types .section-label,
.honey-types .data-honey-types .section-title,
.honey-types .data-honey-types .section-description{
    text-align: inherit;
}

.honey-types .data-honey-types .section-title::before { 
    left: 0;
    transform: translateX(0);
}

.honey-types .data-honey-types .section-description {
    max-width: initial;
}

.honey-benefits {
    margin-top: 40px;
    display: grid;
    row-gap: 20px;
}

.honey-benefits div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.honey-benefits img {
    width: 20px;
}

.honey-benefits li {
    position: relative;
    font-family: var(--primary-font);
    color: #444;
    font-weight: 400;
}

.honey-types .sliders {
    position: relative;
}

.honey-types .sliders .card-item {
    padding: 80px 20px;
    background-color: #FFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.honey-types .card-item img {
    width: 90px;
    height: 100px;
    margin: 0 auto;
}

.honey-types .sliders .card-item a {
    margin: 40px auto 0;
    padding: 14px 20px;
    font-size: 15px;
}

.honey-types .sliders .card-item h3 {
    font-size: 25px;
    font-family: var(--secondary-font);
    color: #5a3733;
    margin: 20px 0;
}

.honey-types .sliders .card-item p {
    font-family: var(--primary-font);
    color: #413939;
    line-height: 1.7;
}

.honey-types .swiper-button-prev {
    left: -20px;
    background-color: #5a3733b7;
    color: rgba(255, 255, 255, 0.747);
    transition: 0.3s;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.honey-types .swiper-button-prev::after {
    font-size: 15px !important;
    font-weight: 700;
}

.honey-types .swiper-button-next {
    right: -20px;
    background-color: #5a3733da;
    color: rgba(255, 255, 255, 0.747);
    transition: 0.3s;
    border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.honey-types .swiper-button-next::after {
    font-size: 15px !important;
    font-weight: 700;
}

.honey-types .swiper-button-prev:hover,
.honey-types .swiper-button-next:hover {
    background-color: #5a3733;
    color: white;
}

.swiper-pagination-honey {
    bottom: -50px !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: #5a3733be;
    width: 11px;
    height: 11px;
    margin: 0 7px !important;
    transition: 0.2s;
}

.swiper-pagination-clickable .swiper-pagination-bullet:hover {
    background-color: #5a3733be !important;
    opacity: 1;
}

@media (max-width: 992px){
    .honey-types .container {
        grid-template-columns: 100%;
        row-gap: 50px;
    }
}

@media (max-width: 768px){
    .honey-types .sliders .card-item {
        padding: 30px 10px;
    }
    

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }    
}

/*=============== HONEY TYPES ===============*/
.store {
    background-color: var(--bg-color);
    background-image: url("../images/bg-3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 230px;
}

.store .sliders {
    position: relative;
}

.store .store_slider {
    margin-top: 60px;
}

.store .card-item {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store .card-item img {
    width: 350px;
    cursor: pointer;
}

.store .body_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.store h3 {
    color: gray;
    font-family: var(--secondary-font);
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0 0;
    cursor: pointer;
}

.store h3.price {
    color: #f7bd00;
    font-family: var(--secondary-font);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.store .card-item a:last-of-type {
    padding: 12px 20px;
    font-size: 14px;
}

.store .swiper-button-prev {
    left: -1%;
    color: #5a3733b7;
    transition: 0.3s;
}

.store .swiper-button-prev::after {
    font-size: 25px !important;
    font-weight: 700;
}

.store .swiper-button-next {
    right: -1%;
    color: #5a3733b7;
    transition: 0.3s;
}

.store .swiper-button-next::after {
    font-size: 25px !important;
    font-weight: 700;
}

.store .swiper-button-prev:hover,
.store .swiper-button-next:hover {
    color: #5a3733;
}

@media (max-width: 768px) {
    .store .swiper-button-prev,
    .store .swiper-button-next {
        display: block;
    }
}

@media (max-width: 576px) {
    .store .swiper-button-next::after,
    .store .swiper-button-prev::after {
        font-size: 20px !important;
    }
}


/*=============== ORDER ===============*/
.order {
    background-color: #f7bd00;
    position: relative;
    min-height: 100vh;
}

.order .backgourng-top {
    background-image: url("../images/60a53adaed641400228d9e3e_optimized_1920.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 160px;
    top: -160px;
    position: absolute;
}

.order .order-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 20px;
}

.order .order-container .box-order { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
}

.order .box-order img {
    width: 180px;
}

.order .box-order h3 {
    font-size: 30px;
    font-family: var(--secondary-font);
    color: #5a3733;
}

.order .box-order p {
    color: #444;
    font-family: var(--primary-font);
    line-height: 1.7;
}

.order .container .btn-primary {
    margin: 50px auto;
}

.order .container .btn-primary:hover {
    background-color: #5a3733;
}

@media (max-width: 992px) {
    .order .order-container {
        grid-template-columns: repeat(2, minmax(100px, 400px));
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .order .box-order img {
        width: 160px;
    }
}

@media (max-width: 500px) {
    .order .order-container {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .order .container .btn-primary {
        font-size: 16px;
    }
}

/*=============== TESTIMONIALS ===============*/
.testimonials {
    background: url("../images/bg-7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.testimonials .section-label {
    color: #f7bd00;
}

.testimonials .section-title {
    color: white;
}

.testimonials .section-title::before {
    background-color: #f7bd00;
}

.testimonials .section-description {
    color: white;
}

.testimonials .sliders {
    position: relative;
    padding: 0 30px;
    display: flex;
}

.testimonials .testimonials_slider {
    margin-top: 60px;
}

.testimonials .card-item {
    background-color: #663B36;
    padding: 35px 30px;
}

.testimonials .body_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.testimonials .body_card img {
    width: 120px;
}

.testimonials .body_card img.image {
    border-radius: 50%;
    border: 4px solid #eb6d2f;
}

.testimonials h3 {
    color: #f7bd00;
    font-family: var(--secondary-font);
    font-size: 24px;
    margin: 20px 0 0;;
}

.testimonials blockquote {
    color: white;
    font-family: var(--primary-font);
    font-style: italic;
    font-size: 15px;
    margin-top: 20px;
    line-height: 1.7;
    text-align: center;
}

.testimonials .post-date {
    font-size: 14px;
    font-family: var(--primary-font);
    color: white;
    font-weight: 700;
    margin-top: 30px;
}

.testimonials .swiper-button-prev {
    left: -1%;
    color: #f7bd0093;
    transition: 0.3s;
}

.testimonials .swiper-button-prev::after {
    font-size: 25px !important;
    font-weight: 700;
}

.testimonials .swiper-button-next {
    right: -1%;
    color: #f7bd0093;
    transition: 0.3s;
}

.testimonials .swiper-button-next::after {
    font-size: 25px !important;
    font-weight: 700;
}

.testimonials .swiper-button-prev:hover,
.testimonials .swiper-button-next:hover {
    color: #f7bd00;
}

.testimonials .swiper-pagination-testimonials {
    bottom: -50px !important;
}

.testimonials .swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: #f7bd00;
    width: 11px;
    height: 11px;
    margin: 0 7px !important;
    transition: 0.2s;
}

.testimonials .swiper-pagination-clickable .swiper-pagination-bullet:hover {
    background-color: #f7bd00 !important;
    opacity: 1;
}

@media (max-width: 768px) {
    .testimonials .card-item {
        padding: 25px 20px;
    }

    .testimonials .swiper-button-prev,
    .testimonials .swiper-button-next {
        display: block;
    }
}

/*=============== STATS NUMBER ===============*/
.stats-number {
    background-color: var(--bg-color);
}

.stats-number .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.stats-number .box-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-number .box-stat .section-title {
    color: #eb6d2f;
    margin-top: 0;
}

.stats-number .box-stat .section-title::before {
    background-color: #5a3733;
}

.stats-number .box-stat h3 {
    font-family: var(--primary-font);
    color: #5a3733;
    font-size: 16px;
}

@media (max-width: 992px){
    .stats-number .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        row-gap: 50px;
    }
}

@media (max-width: 480px){
    .stats-number .container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        row-gap: 50px;
    }
}

/*=============== BLOG ===============*/
.blog {
    background-image: url("../images/bg-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blog .sliders {
    margin-top: 60px;
    position: relative;
    display: flex;
}

.blog .card-item {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 43px 0px rgba(0,0,0,0.1);
}

.blog .card-item .body_card {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.blog .card-item .body_card img {
    border-radius: 10px;
}

.blog .body_card .post-date {
    font-size: 14px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: #eb6d2f;
    margin: 20px 0 25px;
    letter-spacing: 1px;
}

.blog .body_card h3 {
    font-size: 25px;
    font-family: var(--secondary-font);
    color: #5a3733;
    margin-bottom: 15px;
}

.blog .body_card p {
    color: #444;
    font-family: var(--primary-font);
    line-height: 1.7;
}

.blog .swiper-button-prev {
    left: -1%;
    color: #eb6e2fc4;
    transition: 0.3s;
}

.blog .swiper-button-prev::after {
    font-size: 25px !important;
    font-weight: 700;
}

.blog .swiper-button-next {
    right: -1%;
    color: #eb6e2fc4;
    transition: 0.3s;
}

.blog .swiper-button-next::after {
    font-size: 25px !important;
    font-weight: 700;
}

.blog .swiper-button-prev:hover,
.blog .swiper-button-next:hover {
    color: #f7bd00;
}

@media (max-width: 992px) {
    .blog .swiper-button-prev {
        left: -1%;
    }
    .blog .swiper-button-next {
        right: -1%;
    }

    .blog .swiper-button-prev,
    .blog .swiper-button-next {
        display: block;
    }
}

@media (max-width: 768px){
    .blog .container {
        display: grid;
        grid-template-columns: minmax(100px, 600px);
        justify-content: center;
    }

    .blog .section-title {
        font-size: 35px;
    }
}

@media (max-width: 350px) {
    .blog .body_card {
        text-align: center;
    }
    .blog .body_card .post-date {
        margin: 20px auto;
    }
}

/*=============== FAQ ===============*/
.faq {
    background-color: var(--bg-color);
}

.faq .container {
    display: grid;
    grid-template-columns: 530px minmax(200px, 600px);
    gap: 30px;
}

.faq .data-faq {
    text-align: flex-start;
}

.faq .data-faq .section-label,
.faq .data-faq .section-title,
.faq .data-faq .section-description{
    text-align: inherit;
}

.faq .data-faq .section-title::before {
    left: 0;
    transform: translateX(0);
}

.faq-container {
    margin-top: 50px;
}

.faq-container .faq-item {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    overflow: hidden;
}

.faq-container .faq-question {
    display: flex;
    justify-content: space-between;
}

.faq-container .faq-item h2 {
    font-size: 22px;
    font-family: var(--secondary-font);
    color: #5a3733;
}

.faq-container .faq-toggle {
    position: relative;
    width: 20px;
}

.faq-container .faq-toggle span:first-child {
    height: 15px;
    width: 2px;
    background-color: #5a3733; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.faq-container .faq-toggle span:last-child {
    height: 15px;
    width: 2px;
    background-color: #5a3733;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
}

.faq-container .faq-toggle span:last-child.expanded {
    transform-origin: center;
    transform: translate(-50%, -50%) rotatex(90deg);
}

.faq .faq-answer {
    max-height: 0;
    transition: max-height .4s linear ;
    overflow: hidden;
}

.faq .faq-answer.show {
    max-height: 200px;
}

.faq-answer p {
    padding-top: 30px;
    font-family: var(--primary-font); 
    color: #504F4E;
    line-height: 1.8; 
}

@media (max-width: 992px) {
    .faq .container {
        display: grid;
        grid-template-columns: minmax(200px, 800px);
        justify-content: center;
        gap: 30px;
    }

    .faq .data-faq .section-title{
    font-size: 40px;
    }

    .faq .data-faq .section-title::before {
        left: 0;
        transform: translateX(0);
        width: 50px;
    }
}

@media (max-width: 768px) {
    .faq-container .faq-item h2 {
        font-size: 20px;
    }
}

/*=============== CONTACT ===============*/
.contact {
    background-image: url("../images/bg-5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
}

.contact .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.contact .data-contact {
    text-align: start;
}

.contact .data-contact .section-label,
.contact .data-contact .section-title,
.contact .data-contact .section-description{
    text-align: inherit;
}

.contact .data-contact .section-title::before {
    left: 0;
    transform: translateX(0);
}

.contact .data-info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.contact .data-info .info-group {
    display: grid;
    grid-template-columns: minmax(10px, 150px) minmax(50px, max-content);
    align-items: center;
}

.contact .info-group h3 {
    font-size: 25px;
    font-family: var(--secondary-font);
    color: #5a3733;
}

.contact .info-group p {
    font-family: var(--primary-font);
    color: #413939;
    line-height: 1.7;
}

.contact .map {
    margin-top: 40px;
    max-width: 570px;
    height: 244px;
    width: 100%;
}

.contact .map iframe {
    width: 100%;
    height: 244px;
} 

.contact .form {
    background-color: white;
    padding: 110px 100px;
    border-radius: 10px;
    box-shadow: 0px 8px 24px 0px rgba(140, 149, 159, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact .form .input {
    background-color: #F9F4F0;
    color: #5a3733;
    width: 100%;
    padding: 14px 23px;
    font-family: var(--primary-font);
    font-size: 15px;
    border-radius: 8px;
    outline: none;
    border: 0;
}

.contact .form textarea {
    resize: none;
    height: 150px;
}

.contact .form .input:not(:first-child) {
    margin-top: 20px;
}

.contact .form .input::placeholder {
    color: #A38E8A;
}

.contact .form .input:focus {
    outline: 2px solid #3b99fc;
}

.contact .form input[type="button"]{
    margin-top: 60px;
    width: 100%;
    padding: 12px 0;
}

@media (max-width: 992px){
    .contact .form {
        padding: 110px 50px;
    }
}

@media (max-width: 768px){
    .contact .container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .contact .section-title {
        font-size: 35px;
    }

    .contact .data-info {
        row-gap: 20px;
    }

    .contact .data-info .info-group {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .contact .map {
        margin-top: 40px;
        max-width: 100%;
    }
}

/*=============== HONEY GALLERY ===============*/
.honey-gallery {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 40px 25px;
    gap: 35px;
}

.honey-gallery img {
    border-radius: 10px;
}

@media(max-width: 992px){
    .honey-gallery {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 20px;
    }
}

@media(max-width: 480px){
    .honey-gallery {
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 20px;
    }
}

/*=============== FOOTER ===============*/
footer {
    background-image: url("../images/60a6253e05e9ab0021e6d36f_optimized_2327.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 30px;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .container .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

footer .container .logo img {
    width: 70px;
}

footer .container .logo span {
    font-size: 14px;
    font-family: var(--primary-font);
    font-weight: 700;
    letter-spacing: 2px;
    color: #aa9b8f;
}

footer .nav__list {
    display: flex;
    column-gap: 32px;
    margin: 35px 0;
}

footer .nav__list li {
    display: flex;
    align-items: center;
}

footer .nav__list .nav__link,
footer .nav__list .btn__link {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 16px;
    color: #5a3733;
}

footer .nav__list .nav__link {
    position: relative;
    transition: 0.2s;
}

footer .nav__list .nav__link:hover {
    color: #eb6d2f;
}

footer .nav__list .nav__link:hover::before {
    width: 130%;
}

footer .social {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

footer .social .social_link {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eb6d2f;
    color: white;
    cursor: pointer;
    transition: background-color .2s;
}

footer .social .social_link:hover {
    background-color: #e75106;
}

footer .copyright {
    font-size: 14px;
    font-family: var(--primary-font);
    color: #444;
}

footer .copyright span {
    display: inline-block;
    color: #eb6d2f;
    font-weight: 700;
}

@media(max-width: 768px){
    footer .nav__list {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

/*=============== shopping-page ===============*/
.overlay { 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 101vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    overflow: auto;
}

.overlay > div {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0;
    height: 140vh;
    display: flex;
    align-items: center;
}

/* @media(max-width: 576px){
    .overlay > div {
        height: 180vh;
    }
} */

@media(max-height: 800px){
    .overlay > div {
        height: 160vh;
    }
}

@media(max-height: 700px){
    .overlay > div {
        height: 200vh;
    }
}

@media(max-height: 550px){
    .overlay > div {
        height: 230vh;
    }
}


.overlay > div.change-height {
    height: 70vh;
}

.shopping-page {
    background-color: white;
    position: absolute;
    left: 50%;
    z-index: 9999;
    transform: translateX(-50%);
    width: 575px;
    display: none;
}

.overlay.show,
.shopping-page.show {
    display: block;
}

.shopping-page .header-shopping-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #5a3733;
    background-color: #eee;
}

.shopping-page .header-shopping-page h2 {
    font-family: var(--secondary-font);
    font-size: 22px;
}

.shopping-page .header-shopping-page i {
    font-size: 20px;
    cursor: pointer;
}

.shopping-page .body-shopping-page {
    font-family: var(--primary-font);
    padding: 20px;
}

.shopping-page .body-shopping-page > p {
    font-size: 12px;
    font-weight: 700;
    color: gray;
}

.shopping-page .body-shopping-page .shop-carts {
    /* background-color: red; */
    margin-top: 20px;
}

.shopping-page .body-shopping-page .cart-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeeeb2;
    /* justify-content: space-between; */
}

.shopping-page .body-shopping-page .cart-item .item-image img {
    width: 40px;
}

.shopping-page .body-shopping-page .item-info {
    flex: 1;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.shopping-page .body-shopping-page .cart-item a {
    cursor: pointer;
    color: #939393;
    font-weight: 700;
    margin-left: 30px;
}

.shopping-page .body-shopping-page .cart-item a:hover {
    text-decoration: underline;
}

.shopping-page .body-shopping-page .cart-item input[type="number"] {
    border: 2px solid #ccc;
    width: 80px;
    height: 35px;
    border-radius: 4px;
    padding: 10px;
    margin-left: 15px;
}

.shopping-page .body-shopping-page .cart-item p {
    color: #939393;
    margin-left: auto;
}

.shopping-page .body-shopping-page .cart-item .trash {
    color: #939393;
    cursor: pointer;
    margin-left: 30px;
}

.shopping-page hr {
    border: 1px solid #eeeeeeb2;
    width: calc(100% - 40px);
    margin-left: 20px;
    position: relative;
    top: -5px;
}

.shopping-page .promo-total {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px;
    font-family: var(--primary-font);
}

.shopping-page .promo-total button.promo-code {
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    color: #939393;
}

.shopping-page .promo-total .total {
    font-size: 18px;
    font-weight: 700;
    color: #939393;
}

.shopping-page .promo-total .container-promo-input {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    column-gap: 10px;
    display: none;
}

.shopping-page .promo-total .container-promo-input input {
    font-size: 14px;
    text-transform: uppercase;
    color: #939393;
    border: 1px solid #939393;
    border-radius: 7px;
    padding: 10px 15px;
    width: 195px;
}

.shopping-page .promo-total .container-promo-input input.error {
    border: 1px solid rgba(255, 0, 0, 0.692);
} 

.shopping-page .container-promo-input .promo-invalid{
    display: none;
    color: #f00;
    font-size: 12px;
    margin-top: 5px;
}

.shopping-page .promo-total .container-promo-input button {
    padding: 10px 15px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 7px;
    cursor: pointer;
}

.shopping-page .promo-total .container-promo-input ::placeholder {
    text-transform: initial;
}

.shopping-page .place {
    padding: 20px;
    color: #939393;
    font-size: 12px;
    font-family: var(--primary-font);
    font-weight: 700;
}

.shopping-page form {
    font-family: var(--primary-font);
    padding: 0 20px;
    margin-top: 20px;
}

.shopping-page form .input-container:not(:first-of-type) {
    margin-top: 40px;
}

.shopping-page form .input-container {
    
}

.shopping-page form .input-container p {
    color: #939393;
}
.shopping-page form .input-container p span {
    display: inline-block;
    color: red;
}

.shopping-page form .input-container input,
.shopping-page form .input-container textarea{
    background-color: #5a37331e;
    color: #5a3733;
    width: 100%;
    margin-top: 12px;
    padding: 12px 21px;
    border-radius: 8px;
}

.shopping-page form .input-container ::placeholder {
    color: #5a373373;
    font-size: 15px;
}

.shopping-page form .input-container textarea {
    resize: none;
    height: 115px;
    border: none;
    outline: none;
}

.shopping-page form .input-container input:focus,
.shopping-page form .input-container textarea:focus {
    outline: 2px solid #03A9F4;
}

.shopping-page form .btn-primary {
    cursor: pointer;
    margin: 50px auto 30px;
}

@media only screen and (max-width : 1024px) {
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1 !important;
        margin: 0;
        width: 30px ;
        height: 36px;
        font-size: 10px !important;
        position: absolute;
        right: 0;
        top: 0;
    }
}

@media(max-width: 768px){
    .shopping-page {
        width: 500px;
        max-width: 100%;
    }

    .shopping-page .body-shopping-page .item-info {
        position: relative;
        flex-direction: column;
        align-items: start;
        padding-left: 30px;
    }
    .shopping-page .body-shopping-page .cart-item a,
    .shopping-page .body-shopping-page .cart-item input[type="number"],
    .shopping-page .body-shopping-page .cart-item p,
    .shopping-page .body-shopping-page .cart-item .trash {
        margin-left: 0;
        margin-top: 10px
    }

    .shopping-page .body-shopping-page .cart-item a {
        order: -2;
    }

    .shopping-page .body-shopping-page .cart-item p {
        order: -1;
    }

    .shopping-page .body-shopping-page .cart-item input[type="number"] {
        height: 40px;
    }

    .shopping-page .body-shopping-page .cart-item .trash {
        position: absolute;
        top: 27%;
        right: 0;
    }
}

.cart-shopping {
    background-color: #ffffff;
    color: #5a3733;
    font-size: 25px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 50px;
    top: 100px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 500;
    display: none;
}

.cart-shopping::before {
    content: attr(data-count);
    background-color: #f7bd00;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -5px;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.cart-shopping.show {
    display: flex;
}

@media (max-width: 768px){
    .cart-shopping {
        width: 55px;
        height: 55px;
        font-size: 20px;
        right: 20px;
        top: 80px;
    }
}

/* if shopping page is empty */
.shopping-page .container-shopping {
    position: relative;
    height: initial;
}

.shopping-page .container-shopping.empty {
    height: 195px;
    overflow: hidden;
}

.shopping-page .container-shopping .layer-empty {
    padding: 80px 0 60px;
    text-align: center;
    color: #ccc;
    font-family: var(--primary-font);
    line-height: 1.8;
    position: absolute;
    width: 100%;
    z-index: 444;
    background-color: white;
    display: none;
}

.shopping-page .container-shopping .layer-empty.show {
    display: block;
}

.shopping-page .layer-empty.show p:first-of-type {
    color: #bcbcbc;
    font-size: 18px;
}

.shopping-page .layer-empty.show p:last-of-type {
    color: #939393;
}